{% extends "::base.html.twig" %}

{% block body %}
<h1>{{ questionnaire.titre }}</h1>

<ul>
    {% for categorie in questionnaire.categories %}
        <li> {{ categorie.libelle }} </li>
        <ul>
            {% for question in categorie.questions %}
                <li> {{ question.texte }} </li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endblock %}