{% extends '::base.html.twig' %}

<form action="..." method="POST" {{ form_enctype(form) }}>
    {# affiche l'unique champ de la tâche : description #}
    {{ form_row(form.titre) }}

    <h3>Categories</h3>
    <ul class="categories">
        {# itère sur chaque tag existant et affiche son unique champ : name #}
        {% for categorie in form.categories %}
            <li>{{ form_row(categorie.libelle) }}</li>
        {% endfor %}
    </ul>

    {{ form_rest(form) }}
    {# ... #}
</form>